<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="abstractWorldServiceClient" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" abstract="true">
        <property name="serviceInterface" value="com.elex.cok.gameengine.cross.WorldService"/>
        <property name="refreshStubOnConnectFailure" value="true" />
        <property name="lookupStubOnStartup" value="false" />
    </bean>
	CROSS_CLIENT
</beans>
